extracted_data
generated_data
website/output
lambda_functions/lastnightscores/.env
*.env

.idea

myenv

*.cer
*.pem

__pycache__/
/lambda_functions/lastnightscores/.aws-sam/
/lambda_functions/lastnightscores/.env